<html>
<head>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>
<body>

<div id="header">headers</div>
<div id="container">
  <div id="center" class="column">
  <h2>center text</h2>
  </div>
  <div id="left" class="column">
  <h3>left text</h3>
  </div>
  <div id="right" class="column">
  <h3>right text</h3>
  </div>
</div>
<div id="footer">
footers
</div>

</body>
</html>
