%head
  %title Ruby Sinatra Starter Application
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %link(rel="stylesheet" href="/stylesheets/style.css")

%body
  %h1 Welcome to BlueMix!
  %h2 This application is powered by Ruby(version #{@version}) Sinatra on #{@os} platform.
  %h3
    %a(href="http://ng.w3.bluemix.net/docs/FAQ.jsp#env_var" 
       title="Detailed description on environment variables" 
       target="_blank") Environment Variables
  %table(border="0" cellspacing="0" cellpadding="0")
    %thead
      %tr
        %th.env-var Name
        %th         Value
    %tbody
      - @env.each do |key, value|
        %tr
          %td.env-var=key
          %td
            %pre=(value.is_a? Hash)? JSON.pretty_generate(value): value