<html>
<body>
	<p>
		<%= type %>
    <p><h2>data.class
    	<%#= data.length %>
    </h2></p>
    <p>rw
    	<%#= rw %>
    </p>

		<% data.each do |d| %>

			<p> Yah. saw <%= "#{d.inspect}" %> </p>
		<% end  %>
	</p>
</body>
</html>