<html>
<body>
	<p>
		<%= type %>
    <p><h2>data.class
    	<%= data.length %>
    </h2></p>
    <p>rw
    	<%#= rw %>
    </p>

		<% data.each_pair do |k, v| %>
			<p> Yah. saw <%= "#{k}, #{v}" %> </p>
		<% end  %>
	</p>
</body>
</html>
